[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/blog-awesome"]
	path = themes/blog-awesome
	url = git@github.com:katvef/hugo-blog-awesome.git
