.flicker {
  animation: flicker var(--flicker-dur, 2s) var(--flicker-offset, 0s) steps(20, end) infinite;
}

@keyframes flicker {
  0%   { opacity: random() * 2.5; }
  5%   { opacity: random() * 2.5; }
  10%  { opacity: random() * 2.5; }
  15%  { opacity: random() * 2.5; }
  20%  { opacity: random() * 2.5; }
  25%  { opacity: random() * 2.5; }
  30%  { opacity: random() * 2.5; }
  40%  { opacity: random() * 2.5; }
  50%  { opacity: random() * 2.5; }
  60%  { opacity: random() * 2.5; }
  70%  { opacity: random() * 2.5; }
  80%  { opacity: random() * 2.5; }
  90%  { opacity: random() * 2.5; }
  100% { opacity: random() * 2.5; }
}
